/* body {
    background-color: burlywood;
} */
 /* Resetear estilos */
  *{
    margin: 0;
    padding: 0;
  }

header{
    background-color: #06d4c0;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: blue;
}

h2 {
    color: green;
    text-align: center;
    margin-top: 10px;
}

h3 {
    color: orange;
}

/* Estilos Formulario */

.contenido-formulario {
   text-align: center;
   margin: 20px;
   padding: 20px;
   
}

.formulario {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eef6ef;
}

.formulario h2 {
    text-align: center;
    margin: 20px;
}

.formulario label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.formulario button {
    width: 50%;
    padding: 10px;
    background-color: #06d4c0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Estilos Footer */
footer {
    background-color: #051f30;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

