/* body {
    background-color: burlywood;
} */
 /* Resetear estilos */
  *{
    margin: 0;
    padding: 0;
  }

header{
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: blue;
}

h2 {
    color: green;
    text-align: center;
    margin-top: 30px;
}

h3 {
    color: orange;
}

/* Estilos Formulario */

form {
    margin: 20px;
    padding: 20px 40px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #007acc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #005f99;
}

form button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: #218838;
}



/* Estilos Footer */
footer {
    background-color: #051f30;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

